<main class="p-4 lg:px-36 lg:max-w-7xl lg:mx-auto">
  <section>
    <h1
      class="bg-red-600 text-red-50 text-2xl font-semibold p-4 rounded-md text-center"
    >
      Quienes Somos / Cooperativa Reina del Camino Ecuador
    </h1>
  </section>
  <section>
    <article class="my-4 p-2">
      <h3 class="text-xl font-semibold mb-2">Misión</h3>
      <p>
        Brindar transporte interprovincial eficiente, adecuada a las necesidades
        de los usuarios nacionales y extranjeros, garantizado su plena
        satisfacción a través de servicios y productos diferenciados. Creemos
        firmemente que es posible transportar pasajeros satisfechos e invertimos
        permanentemente para ello; la primera etapa de esta continua combinación
        éxito empresarial y tecnología, se concretará el 100% a 10 años
      </p>
    </article>
    <article class="my-4 p-2">
      <h3 class="text-xl font-semibold mb-2">Visión</h3>
      <p>
        Ser una institución líder, exitosa, de excelencia u próspera en la
        prestación de servicio en la modalidad de Transporte público
        Interprovincial de pasajeros, con eficiencia y responsabilidad de sus
        integrantes. Socios y empleados, entregando servicios y productos
        diferenciados, en unidades tecnológicamente modernas, en busca del
        desarrollo social y económico de los asociados y del entorno, con el
        compromiso y respeto a la naturaleza.
      </p>
    </article>
    <article class="my-4 p-2">
      <h3 class="text-xl font-semibold mb-2">Nuestros Principios</h3>
      <p>
        Son el conjunto de atributos mínimos indispensables para llevar a cabo
        la administración con integridad e imparcialidad, y de los cuales
        ampliamente experimentaron socios y colaboradores en los talleres y vi
        vivencias, siendo estos, los estándares de comportamiento basados en
        nuestros valores institucionales, orientados a la ayuda mutua:
        responsabilidad, democracia, igualdad, equidad y solidaridad. Siguiendo
        la tradición de sus fundadores, sus miembros creen en los valores éticos
        de honestidad, transparencia, responsabilidad social y preocupación por
        los demás.
      </p>
    </article>
  </section>
  <section>
    <h2
      class="border rounded-md border-black w-24 text-center font-semibold text-xl mb-4 mx-auto lg:my-4"
    >
      Ubicación
    </h2>
    <iframe
      class="rounded-lg mx-auto w-96 h-96 md:w-176 lg:w-full"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255346.65091566546!2d-78.64107706397628!3d-0.21039515065874992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a3e63f2a9cb%3A0x8bfbd6ffc3e13404!2sReina%20del%20Camino%20Bus!5e0!3m2!1ses!2sec!4v1705585440203!5m2!1ses!2sec"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</main>