---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header class="p-4 lg:px-8 lg:text-xl lg:py-4">
  <nav class="p-4 bg-white shadow md:flex md:items-center md:justify-between">
    <div class="flex justify-between items-center">
      <span class="text-2xl cursor-pointer">
        <Image
          class={"w-32"}
          src={logo}
          alt={"Logo de la Cooperativa Reina del Camino"}
        />
      </span>

      <span class="cursor-pointer mx-2 md:hidden block">
        <button id="menuButton">
          <i class="fa-solid fa-bars text-3xl"></i>
        </button>
      </span>
    </div>

    <ul
      class="md:flex md:items-center z-[-1] md:z-auto md:static bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500"
    >
      <li class="mx-4 my-6 md:my-0"><a href="/">Inicio</a></li>
      <li class="mx-4 my-6 md:my-0 md:hidden lg:block"><a href="/">Planifica tu viaje</a></li>
      <li class="mx-4 my-6 md:my-0"><a href="/factura">Servicio</a></li>
      <li class="mx-4 my-6 md:my-0">
        <a href="/informacion">Informacion actualizada</a>
      </li>
      <li class="mx-4 my-6 md:my-0 md:hidden lg:block"><a href="#">Ayuda</a></li>
    </ul>
  </nav>

  <script src="../scripts/responsive.js"></script>
</header>
